* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 30ch;
  gap: 1rem;
}

html {
  font-family: sans-serif;
}

.plants ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
  gap: 1.25ch;
}

li {
  border: 1px rgb(189, 186, 186) solid;
  padding: 1.5ch;
  display: flex;
  flex-direction: column;
  gap: 2ch;
  font-weight: bolder;
}

.plant figure {
  font-size: 5rem;
  text-align: center;
}

button {
  align-self: center;
  padding: 0.5rem;
  width: 100%;
}

button:hover {
  cursor: pointer;
}
